data/roborace750
data/vgg
data/stuttgart_video_test
models/sem_seg
models/monodepth
__pycache__/
fcn8s/log
fcn8s/runs
fcn8s/times.txt
media
results
.venv
*.DS_Store
README_old.md
.gitignore
*.json
.open3d
data/stuttgart_tmp
backproject.py
fence_overlaid.png
road.png
semantic_depth.py
semantic_depth_cityscapes_sequence.py
stuttgart_02_000000_005176_leftImg8bit_raw.ply
